{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock css %}
{% block content %}
<div class="sidenav">
         <div class="login-main-text">
            <h2>Notes<br> An app where you can write all your secret stuff to be remembered.</h2>
            <p>Login or register from here to access the notes portal.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method='POST'>
                   {% csrf_token %}
                  <div class="form-group">
                      {{ form.errors }}
                     <label>User Name</label><br/>
                    {{ form.query }}    
                    </div>
                  <div class="form-group">
                     <label>Password</label><br/>
                     {{ form.password }}    
                    </div>
                  <button type="submit" class="btn btn-black">Login</button>
                  <a  href="{% url 'register' %}"><button type="button" class="btn btn-secondary">Register</button></a>
               </form>
            </div>
         </div>
      </div>
{% endblock %}