{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock css %}
{% block content %}
<div class="sidenav">
         <div class="login-main-text">
            <h2><strong>Notes</strong><br> An app where you can write all your secret stuff to be remembered.</h2>
            <p>Login or register from here to access the notes portal.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form method='POST'>
                   {% csrf_token %}
                   {{ form.errors }}
                  <div class="form-group">
                     <label>User Name</label><br/>
                    {{ form.username }}    
                    </div>
                    <div class="form-group">
                            <label>Email</label><br/>
                           {{ form.email }}    
                    </div>
                    <div class="form-group">
                        <label>Password</label><br/>
                        {{ form.password1 }}    
                    </div>
                  <div class="form-group">
                     <label>Confirm Password</label><br/>
                     {{ form.password2 }}    
                    </div>
                  <button type="submit" class="btn btn-black">Register</button>
                  <a href="{% url 'login' %}"><button type="button" class="btn btn-secondary">Login</button></a>
               </form>
            </div>
         </div>
      </div>
{% endblock %}